* { border:0; padding:0; margin:0; }

#wrapper
{
	width:800px;
	margin:0 auto;
}

#header
{
	padding:20px;
}

#content
{
	
}

.opinion
{
	width:360px;
}

.opinion.natalie
{
	float:left;
}

.opinion.joe
{
	margin-left:380px;
}
