{% extends 'opinions/base.html' %}
{% block content %}
<ul class="sort">
	<li{% if sort == 'unity' %} class="active"{% endif %}><a title="Sort by how well we agree on things." href="?sort=unity">Unity</a></li>
	<li{% if sort == 'rating' %} class="active"{% endif %}><a title="Sort by average rating." href="?sort=rating">Rating</a></li>
	<li{% if sort == 'date' %} class="active"{% endif %}><a title="Sort by last review date." href="?sort=date">Date</a></li>
	<li{% if sort == 'name' %} class="active"{% endif %}><a title="Sort alphabetically by thing name." href="?sort=name">Name</a></li>
</ul>
<h3>Things</h3>
{% if things and things.paginator.count %}
	{% include 'opinions/thing_list.html' with things=things.object_list %}
	{% include 'opinions/page_list.html' with page=things %}
{% else %}
<p class="error">No things!</p>
{% endif %}
{% endblock %}
