{% extends 'opinions/base.html' %}
{% block content %}
<h2>Search: "<span class="search_term">{{ term }}</span>"</h2>
{% if results.things %}
<h3>Things</h3>
<ul class="things">
	{% for thing in results.things %}
	<li><a href="{{ thing.get_absolute_url }}">{{ thing }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if results.tags %}
<h3>Tags</h3>
<ul class="tags">
	{% for tag in results.tags %}
	<li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if not results.things and not results.tags %}
<p class="error">No results found!</p>
{% endif %}
{% endblock %}
