{% extends 'opinions/base.html' %}
{% block content %}
	<h2>{{ thing.name }}</h2>
	{% if thing.description %}<div class="description">{{ thing.description }}</div>{% endif %}
	{% for opinion in thing.get_opinions %}
	<div class="opinion {% cycle 'natalie' 'joe' as first_name %}">
		{% if opinion %}
		<div class="rating">{{ opinion.rating }}</div>
		{% if opinion.summary %}<div class="summary">{{ opinion.summary }}</div>{% endif %}
		<div class="review">{{ opinion.review }}</div>
		<div class="meta">
			<span class="date">{{ opinion.date }}</span> by {{ first_name|capfirst }}
		</div>
		{% else %}
		<p class="error">{{ first_name|capfirst }} doesn't have an opinion about this yet!</p>
		{% endif %}
	</div>
	{% endfor %}
	{% if thing.get_versus.count %}
	<h3>Versus</h3>
	<ul class="versus">
		{% for versus in thing.get_versus %}
		<li><a href="{{ versus.get_absolute_url }}">{{ versus }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if thing.children.count %}
	<h3>Things in This Category</h3>
	<ul class="children">
		{% for child in thing.children.all %}
		<li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}
