<!DOCTYPE html>
<html>
<head>
	<title>Natalie and Joe Have Opinions About Literally Everything</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
</head>
<body class="{% block body-class %}{% endblock %}">
	<div id="wrapper">
		{% include 'header.html' %}
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
