<!DOCTYPE html>
<html>
<head>
	<title>{% block title-pre %}{% endblock %}Natalie and Joe Have Opinions About Literally Everything</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
	<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<meta name="description" content="Opinions from Natalie and Joe about all the things." />
</head>
<body class="{% block body-class %}{% endblock %}">
	<div id="wrapper">
		{% include 'header.html' %}
		<div class="content clearfix">
			{% block content %}
			{% endblock %}
		</div>
		{% block post-content %}
		{% endblock %}
	</div>
	{% include 'footer.html' %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3086143-14']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
