<!DOCTYPE html>
<html>
<head>
	<title>Natalie and Joe Have Opinions About Literally Everything</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
	<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
</head>
<body class="{% block body-class %}{% endblock %}">
	<div id="wrapper">
		{% include 'header.html' %}
		<div class="content clearfix">
			{% block content %}
			{% endblock %}
		</div>
		{% block post-content %}
		{% endblock %}
	</div>
	{% include 'footer.html' %}
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.joefriedl.net/" : "http://piwik.joefriedl.net/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
		try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
		} catch( err ) {}
	</script><noscript><p><img src="http://piwik.joefriedl.net/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
</body>
